/*
 Russell Carlin
 Project 2
 VFW 1-12
*/
html{
    background: Blue;
    border: 5px solid DarkBlue;
}
body{
    font: 14px/1.4em arial;
    color: white;
}
h1{
    font: bold 30px/1em garamond;
    color: gold;
    text-transform: uppercase;
    text-align: center;
    background: red;
    border: 2px double darkblue;
    margin: 5px 5px 15px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
mark{
    color: red;
}
fieldset{
    border: 2px solid darkblue;
}
textarea{
    height: 100px;
    width: 100%;
}
submitrunes {
    color: red;
}